
  .label1{
    margin-top: -15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-left: 48px;
    letter-spacing: -0.3px;
    color: #557573;
  }
  .label3{

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left: 48px;
    letter-spacing: -0.3px;
    color: #557573;
  }
  .label4{

    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    margin-left: 48px;
    letter-spacing: -0.3px;
    color: #557573;
  }
  .label2{

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left: 48px;
    letter-spacing: -0.3px;
    color: #557573;
  }
  .label5{

    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left: 48px;
    letter-spacing: -0.3px;
    color: #557573;
  }
