
  #cbox1:checked + label {
    text-decoration: line-through;
  }
  #cbox2:checked + label {
    text-decoration: line-through;
  }
  #cbox3:checked + label {
    text-decoration: line-through;
  } #cbox4:checked + label {
    text-decoration: line-through;
  } #cbox5:checked + label {
    text-decoration: line-through;
  }
  .box01{
    
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: -5px;
    margin-left: 50px;
    line-height: 30px;
    letter-spacing: -0.3px;
    
    color: #557573;
  }