.welcome01 {
  position: absolute;
width: 308px;
height: 45px;
left: 110px;
top: 200px;

font-family: 'Noto Sans SC';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.3px;

color: #000000;
}
#pass1 {
    position: absolute;
    width: 346.5px;
    height: 68.35px;
    left: 28px;
    top: 561.21px;
  
    background: #FFFFFF;
    border-radius: 30px;
  }
  
  #pass2 {
    position: absolute;
    width: 346.5px;
    height: 68.35px;
    left: 28.5px;
    top: 644.31px;
  
    background: #FFFFFF;
    border-radius: 30px;
  }
  
  #btn {
    position: absolute;
    width: 321px;
    height: 61px;
    left: 42px;
    top: 765px;
  }
  .forgot{
  position: absolute;
width: 255px;
height: 28px;
left: 102px;
top: 705px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.3px;

color: rgba(19, 180, 170, 0.59);  }
.img2{
  position: absolute;
width: 245px;
height: 209px;
left: 81px;
top: 291px;
}
h4{
  
position: absolute;
width: 348px;
height: 14px;
left: 75px;
top: 820px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.3px;

color: rgba(17, 1, 1, 0.57);
}
.img1{
    position: absolute;
    width: 400px;
    height: 50px;
    left: 0px;
    top: 10px;
}
.img0{
  position: absolute;
width: 339px;
height: 303px;
left: -89px;
top: -108px;

}